body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}
.container {
  display: block;
  width: 800px;
  margin: 20px auto 0;
}
button {
  background: none;
  color: #888;
  font-size: 15px;
  width: 60px;
  cursor: pointer;
}

th, td {
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

input{
  width : 150px;
  margin: 10px;
  padding: 6px;
}

td input {
  display: none;
}

tr.editMode input {
  display: block;
  width: 20px;
  margin: 0;
}

tr.editMode td.food input {
  width: 80px;
}

tr.editMode p {
  display: none;
}