body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}
.container {
  display: block;
  width: 800px;
  margin: 20px auto 0;
}
button {
  background: none;
  color: #888;
  font-size: 15px;
  width: 60px;
  cursor: pointer;
}

th, td {
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid #ddd;
  width: 70px;
}

th:first-child {
  width: 200px;
}

th:nth-child(2) {
  padding: 9px;
  width: 200px;
}

input {
  width : 150px;
  margin: 10px;
  padding: 6px;
  font-size: 15px;
}

td input {
  display: none;
}

tr.editMode input {
  display: block;
  width: 40px;
  margin: 0;
}

tr.editMode p.food, tr.editMode p.quantity {
  display: none;
}